.home-unit.home-primary .container .row .span6{
float: right;
text-align: right;
}
.home-unit.home-primary .container .row .span6 p{
font-size: 18px;
margin-right: 0;
margin-bottom: 70px;
}
.home-unit.home-primary .container .row .span5{
float: left;
text-align: right;
line-height: 28px;
font-size: 18px;
}
.home-unit.home-primary .container .row .span5 img{
 float: right;
 margin-left: 10px;
}
.home-unit.home-primary .container .row .span5 h3{
  margin-right: 17px;
  margin-bottom: 20px;
}
.home-unit.home-primary .container .row .span5 div{
text-align: right;
margin-bottom: 0px;
}
#skype{
	height: 200px;
	width: 360px;
	margin-right: 10px;
	margin-top: 10px;
}

.icon-quote-left::before{
content: "\f10e" !important;
}
.icon-quote-right::before{
content: "\f10d" !important;
}

.row-fluid.hero-header .container{
  background-position-x: left !important;
}

a.private_btn{
  margin-left: 50px !important;
}

.row-fluid.hero-header .container .row.hero{
  float: right;
  text-align: right;  
margin-right: 65px;
}
.row-fluid.hero-header .container .row.hero img{
margin-left: 377px;

}
.home-unit.home-examples p{
text-align: right;

}
.testimonials .home#content .icon-quote-left{

  float: right !important;
  padding-left: 0.3em;
  padding-right: 0;
}
.testimonials .home#content .icon-quote-right{
padding-right: 3px;
padding-left: 0px;
margin-right: 10px; 
}
.testimonials .home#content .testimonial{
  text-align: right;
}
.testimonials .quote {
  direction: rtl;
  font-size: 17px !important;
}

 
