{% extends 'base.html' %}

{% block l_column_content %}

<div class="registration preview-registration">
  <div class="well">
    {% if category == '0' %}
    <h2>Private Course Signup</h2>
    {% else %}
    <h2>Group Course Signup</h2>
    {% endif %}
    <form action="." method="post" class="form-horizontal">
      <fieldset>
        {% csrf_token %}
        <input type="hidden" name='category' value='{{ category }}'/>
        <div class="control-group">
          <label for="id_username" class="control-label">{{form.name.label}}:</label>
            <div class="controls">
            {{ form.name }}
            <span class="help-block">Your Full Name</span>
          </div>
        </div>
        <div class="control-group">
          <label for="id_username" class="control-label">{{form.description.label}}:</label>
            <div class="controls">
            {{ form.description }}
            <span class="help-block">What subjects/courses you need to learn?</span>
          </div>
        </div>
        <div class="control-group">
          <label for="id_email" class="control-label">{{form.email.label}}:</label>
          <div class="controls">
            {{ form.email }}
          </div>
        </div>
        <div class="control-group">
          <label for="id_email" class="control-label">{{form.skype.label}}:</label>
          <div class="controls">
            {{ form.skype }}
          </div>
        </div>
        <div class="control-group">
          <label for="id_first_name" class="control-label">{{form.country.label}}:</label>
          <div class="controls">
            {{ form.country }}
          </div>
        </div>
        <div class="control-group">
          <label for="id_last_name" class="control-label">{{form.dob.label}}:</label>
          <div class="controls">
            {{ form.dob }}
          </div>
        </div>
        <div class="control-group">
          <label for="id_last_name" class="control-label">{{form.specialization.label}}:</label>
          <div class="controls">
            {{ form.specialization }}
          </div>
        </div>
        <div class="control-group">
          <label for="id_last_name" class="control-label">{{form.payment.label}}:</label>
          <div class="controls">
            {{ form.payment }}
          </div>
        </div>
      </fieldset>
      <div class="form-actions">
        <input type="submit" value="Register" class="btn btn-primary btn-large" /> 
      </div>
    </form>
  </div>
</div>
{% endblock l_column_content %}
