{% extends 'base.html' %}

{% block topcontent %}{% endblock topcontent %}

{% block body_class %}home{% endblock body_class %}

{% block l_column_content %}
<div style="padding-top:15px;">
    <div class="available-courses">
        <img src="/static/graphics/core/availablecourses.jpg">
    </div>
</div>
<div class="container" id={% if category == "1" %}"category_1"{% else %}"category_0"{% endif %}>
    <div class="row">
    {% for object in object_list %}
      <div class="tcourse">
        <div style="display:inline">
            <button class="btn btn-danger" onclick="window.open('/private_courses/{{ object.id }}/register/?category={{category}}', '_blank')" style="float:left">Enroll now!</button>{% if category == "1" and obj.title != "Other Course" %}<p class="tcourse-remaining"> {% if object.is_full %}
            Full
            {% else %}{{ object.remaining }} seats available!{% endif %}</p>{% endif %}
        </div>
        <br>
        <p class="tcourse-title">
            {{ object.title }}
        </p>
        <p>
            {{ object.description}}
        </p>
        <p class="tcourse-hours">
            Around {{ object.hours }} hours
        </p>
      </div>
        {% if forloop.counter != object_list.count and forloop.counter|divisibleby:3 %}
            </div><div class="row">
        {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock l_column_content %}