{% load i18n %}
{% for submission in submissions %}
   <div class="announcement">
      Submission Time: {{submission.submittime}}
      <br>
      Language: {{submission.langid}}
      <br>
      Result: {{submission.judigng_to_show.result}}

      {% if submission.judigng_to_show.result == 'correct' %}
        <i class="icon-ok correct"></i>
      {% endif %}
      {% if submission.judigng_to_show.result != 'correct' %}
         <br>
         Error: {{submission.judigng_to_show.result}}
      {% endif %}
      <br>
      {% if submission.has_errors %}
         <a href="{% url 'courses.problems.views.submission_input' common_page_data.course_prefix common_page_data.course_suffix assignment.id problem.pk submission.pk %}">Download Input</a> | 
         <a href="{% url 'courses.problems.views.submission_run' common_page_data.course_prefix common_page_data.course_suffix assignment.id problem.pk submission.pk %}">Download Run</a> | 
         <a href="{% url 'courses.problems.views.submission_diff' common_page_data.course_prefix common_page_data.course_suffix assignment.id problem.pk submission.pk %}">Download Diff</a>
      {% endif %}
   </div>
{% empty %}
   <p style="margin:20px;">{% trans 'No Submissions to display.' %}</p>
{% endfor %}