{% load url from future %}

<div class="row-fluid class2go">
    <small><a href="http://class2go.stanford.edu">Powered by Class2Go Stanford University</a></small>
</div>

{% if not request.session.headless %}
<div id="global-footer" class="footer hidden-phone">
    <div class="container">
        <div class="row">
            <div id="bottom-logo" class="span2"><a href="http://codemasry.com" style="border: none; "><img src="/static/graphics/core/codemasry-footer.png" width="100" alt="CodeMasry"></a><br><br></div>

            <div id="bottom-logo" class="span1" style='float:right'>
              <p style="color:#fff; font-size:12px;margin:0;">Sposored by</p>
              <br>
              <a href="http://www.badrit.com/"><img src="/static/graphics/core/badrit.png" alt="BadrIT sponsor"></a>
            </div>

            <div id="bottom-text" class="span7">
                <div id="bottom-menu">
                    <ul class="unstyled">
                        <li><a href="http://codemasry.com">CodeMasry Home</a></li>
                        <li><a href="https://www.facebook.com/CodeMasry/app_14167664298" target="_blank">Why CodeMasry?</a></li>
                        <li><a href="https://www.facebook.com/CodeMasry?v=app_194080173963949" target="_blank">About Us</a></li>
                        <li><a href="{% url 'c2g.views.contactus' %}">Contact Us</a></li>
                    </ul>
                </div>
                <p class="vcard">&copy; <span class="fn org">CodeMasry</span>, <span class="adr"> <span class="postal-code">2013</span></span></p>
            </div>

            <div id="bottom-text" class="span7">
              <div id="bottom-menu">
                    <ul class="unstyled">
                        <li><a href="http://codemasry.com/pro/april13/videos/mSddyADSUEc" target="_blank" alt="Introduction to Computer Programming">Introduction</a></li>
                        <li><a href="http://codemasry.com/oop/jun13/videos/MJddRkYY88U" target="_blank" alt="OOP">OOP</a></li>
                        <li><a href="http://codemasry.com/ds/june13/videos/31oqfm1iStI" target="_blank" alt="Data Structures">Data Structures</a></li>
                        <li><a href="http://codemasry.com/alg/june13/videos/uLBMCOAq2js" target="_blank" alt="Algorithms">Algorithms</a></li>
                    </ul>
                </div>
                <p class="vcard">&copy; <span class="fn org">CodeMasry</span>, <span class="adr"> <span class="postal-code">2013</span></span></p>
            </div>


        </div>
    </div>
</div>

<script>
// Include the UserVoice JavaScript SDK (only needed once on a page)
UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/1OVpwYqiqwVAiknWnBjV0g.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

//
// UserVoice Javascript SDK developer documentation:
// https://www.uservoice.com/o/javascript-sdk
//

// Set colors
UserVoice.push(['set', {
  accent_color: '#e23a39',
  trigger_color: 'white',
  trigger_background_color: '#e2753a'
}]);

// Identify the user and pass traits
// To enable, replace sample data with actual user traits and uncomment the line
UserVoice.push(['identify', {
  //email:      'john.doe@example.com', // User’s email address
  //name:       'John Doe', // User’s real name
  //created_at: 1364406966, // Unix timestamp for the date the user signed up
  //id:         123, // Optional: Unique id of the user (if set, this should not change)
  //type:       'Owner', // Optional: segment your users by type
  //account: {
  //  id:           123, // Optional: associate multiple users with a single account
  //  name:         'Acme, Co.', // Account name
  //  created_at:   1364406966, // Unix timestamp for the date the account was created
  //  monthly_rate: 9.99, // Decimal; monthly rate of the account
  //  ltv:          1495.00, // Decimal; lifetime value of the account
  //  plan:         'Enhanced' // Plan name for the account
  //}
}]);

// Add default trigger to the bottom-right corner of the window:
UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-left' }]);

// Or, use your own custom trigger:
//UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
UserVoice.push(['autoprompt', {}]);
</script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44216619-1', 'codemasry.com');
  ga('send', 'pageview');

</script>

{% endif %}
