{% load i18n %}

<div class="announcement">
    
    <h4><a href="{% url 'courses.assignments.views.view' common_page_data.course_prefix common_page_data.course_suffix assignment.id %}">{% trans 'Description' %}</a></h4>
    {% autoescape off %}<p>{{assignment.description}}</p>{% endautoescape %}

</div>

<div class="announcement">
    
   <h4> <a href="#"> Problems </a> </h4>
   {% for problem in problems %}
     <a href="{% url 'courses.problems.views.view' common_page_data.course_prefix common_page_data.course_suffix assignment.id problem.probid %}">{{problem.name}}</a>

     <form action="{% url 'courses.announcements.actions.add_announcement' %}" method="POST" enctype="multipart/form-data">
         <label> Upload your solution file </label>
         <input name="submission" type="file"></input>
     </form>
     <br>
   {% empty %}
     <p style="margin:20px;">{% trans 'No Problems to display.' %}</p>
   {% endfor %}

</div>